---
export interface Props {
	title: string;
	image: string;
	description: string;
}

const { title, image, description } = Astro.props as Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
		/>
		<meta
			name="viewport"
			content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={image} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<title>{title} - Pixi3D</title>
	</head>
	<body>
		<canvas id="demo" class="fixed"></canvas>
		<slot name="overlay" />
		<a
			class="absolute top-0 right-0 h-10 w-10 bg-slate-700 text-white m-4 flex justify-center items-center rounded cursor-pointer"
			href="/"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-5 w-5"
				viewBox="0 0 20 20"
				fill="currentColor"
			>
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"></path>
			</svg>
		</a>
		<div
			class="absolute inset-x-0 bottom-0 flex justify-center items-center text-sm text-center p-4"
		>
			<slot name="license" />
		</div>
		<div
			id="load"
			class="w-full h-full fixed flex justify-center items-center bg-slate-700 transition-opacity"
		>
			<svg
				class="animate-spin h-32 w-32 text-white"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
			>
				<circle
					class="opacity-25"
					cx="12"
					cy="12"
					r="10"
					stroke="currentColor"
					stroke-width="4"></circle>
				<path
					class="opacity-75"
					fill="currentColor"
					d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
				></path>
			</svg>
		</div>
		<slot />
	</body>
</html>
